@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.header {
  min-height: 4rem;
  font-family: 'Allura', cursive;
  padding: 2rem;
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
  font-size: 8rem;
  color: #9c7453;
  text-align: center;
}

.website_name {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  margin: 0;
}

.header h1 {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 770px) {
  .website_name {
    width: 100%;
  }
}
