.header {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  font-family: var(--font-family-heading);
}

.website_name {
  position: absolute;
  top: 1.5rem;
  left: 16%;
  color: var(--primary-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 0;
  background: var(--dark-color-overlay);
}

.website_name > div {
  flex-basis: 40%;
}

@media screen and (min-width: 550px) {
  .website_name {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 768px) {
  .website_name {
    flex-direction: row;
    justify-content: space-around;
    font-size: 5rem;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 1rem;
    text-align: center;
  }

  .website_name > div {
    flex-basis: 70%;
  }
}
