.actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 24rem;
  margin: 1rem;
  background-color: var(--primary-color-light);
  border-radius: 0.5rem;
  max-width: 24rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
}

.tip img {
  object-fit: cover;
  width: 100%;
}

.tip img:hover {
  filter: sepia(#8d6d54, 80%);
  filter: brightness(0.8);
}

.content {
  background-color: var(--primary-color-light);
  display: block;
  padding-top: 1rem;
  text-align: center;
}

.actions a {
  text-decoration: none;
  color: black;
}

.summary {
  text-transform: uppercase;
}

.summary h2 {
  padding: 0 1rem;
}

.label p {
  margin: 1rem 7%;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .actions {
    max-width: 19rem;
  }
}
