.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 6rem;
  background: linear-gradient(var(--primary-color), var(--primary-color-dark));
  color: var(--primary-color-light);
  font-family: 'Allura', cursive;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
