.trip {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--primary-color-light);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 19rem;
}

.image {
  height: 40%;
  width: 100%;
  object-fit: cover;
  height: 14rem;
}

.content {
  text-align: center;
}

.content h2 {
  padding: 0;
}

.actions {
  padding: 1rem;
  color: var(--primary-color-light);
  background-color: var(--primary-color-dark);
  text-transform: uppercase;
  min-width: 19rem;
  margin-top: 2rem;
  cursor: pointer;
}

.actions a span {
  vertical-align: middle;
}

.actions a {
  color: inherit;
  text-decoration: none;
}

.icon {
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
