@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@400;600;700&display=swap');

:root {
  --primary-color: #8d6d54;
  /* #9c7453; */
  --primary-color-light: #e7d3c3;
  /* #e4c9b5; */
  --primary-color-dark: #523722;
  --secondary-color: #bd5740;
  --dark-color: #0a0403;
  --dark-color-overlay: rgba(10, 4, 3, 0.3);

  --font-family-main: 'Josefin Sans', sans-serif;
  --font-family-heading: 'Allura', cursive;

  --max-width: 120rem; /*1920px*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1,
h2,
h3,
p {
  padding-bottom: 2rem;
}

p {
  font-size: 18px;
}

a {
  cursor: pointer;
}

.container {
  max-width: var(--max-width);
  margin: 3rem auto;
}

.center {
  text-align: center;
}

.py {
  padding: 2rem 0;
}

.container-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  width: 95%;
  margin: 0 auto;
  padding-top: 3rem;
}

.container-filter h1 {
  text-transform: uppercase;
  color: var(--primary-color-dark);
  font-size: 2.6rem;
  text-align: center;
}

.container-filter h2 {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-dark);
  padding: 1rem 0;
  font-size: 2rem;
}

.container-filter h3 {
  color: var(--primary-color);
  padding: 1rem 0;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-dark);
  border-radius: 6px;
  color: var(--primary-color-dark);
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  align-self: center;
  text-transform: uppercase;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  position: relative;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  color: var(--primary-color-light);
}

/* main {
  border-top: 3px solid var(--dark-color);
} */

.icon {
  margin: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 2rem;
  height: 2rem;
}

.content_trips,
.content_tips {
  text-align: justify;
  max-width: var(--max-width);
  margin: 3rem 3rem;
}

.short_info_trips {
  text-align: center;
  margin-bottom: 3rem;
}

.short_info_trips p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.container_homepage {
  font-size: 0.9rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.link_to_page {
  font-family: var(--font-family-heading);
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--primary-color-dark);
}

.link_to_page:hover {
  color: var(--primary-color-light);
  cursor: pointer;
}

.link_to_homepage {
  cursor: pointer;
}

.know_more {
  display: flex;
  width: 10rem;
  margin: 1rem auto;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  color: var(--primary-color-light);
}

.know_more:hover,
.know_more:active,
.know_more:focus {
  cursor: pointer;
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
}

.know_more p {
  margin: 1rem;
  padding: 0;
  font-weight: bold;
}

.arrow_know_more {
  margin-top: auto;
  margin-bottom: auto;
}

.map_homepage {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.map_homepage:hover {
  cursor: pointer;
  filter: grayscale(60%);
  /* filter: sepia(#8d6d54, 50%); */
}

.container_homepage h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

section {
  margin-top: 4rem;
  margin-bottom: 0;
}

.section_tips {
  margin-top: -5rem;
  margin-bottom: -5rem;
}

.content_tips {
  position: relative;
  margin: 6rem 6rem;
}

.content_trips {
  position: relative;
  margin: 13rem 6rem;
}

.btn_back {
  width: 10rem;
  margin: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  color: var(--primary-color-light);
  position: absolute;
  right: -1rem;
  top: -3rem;
}

.btn_back_trips_1 {
  top: -11rem;
  right: 30%;
}

.btn_back_trips_2 {
  top: -6rem;
  right: 30%;
}

.btn_back:hover,
.btn_back:active,
.btn_back:focus {
  cursor: pointer;
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-dark);
}

.btn_back p {
  margin: 0.5rem;
  padding: 0;
  font-weight: bold;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

.arrow_btn_back {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .container-filter {
    padding-top: 4rem;
    width: 80%;
  }

  .filters {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .filters div {
    flex-basis: 30%;
  }

  .link_to_page {
    font-size: 2.5rem;
  }

  section {
    margin-top: 6rem;
    position: relative;
  }

  .map_homepage {
    width: 50%;
  }

  .know_more {
    position: absolute;
    bottom: -5rem;
    right: 0;
    margin-bottom: 0;
  }

  .space {
    height: 4rem;
  }

  .btn_back_trips_1 {
    top: -6rem;
    right: -1rem;
  }

  .btn_back_trips_2 {
    top: -1rem;
    right: -1rem;
  }

  .content_trips {
    position: relative;
    margin: 8em 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .container-filter {
    width: 50%;
  }

  .filters {
    justify-content: center;
    gap: 10%;
  }
}
