@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@400;600;700&display=swap');

:root {
  --primary-color: #8d6d54;
  --primary-color-light: #e7d3c3;
  --primary-color-light2: #e4c9b5;
  --primary-color-light-for-gradient: #e6e1dd;
  --primary-color-dark: #5f3a1d;
  --secondary-color: #bd5740;
  --dark-color: #0a0403;
  --dark-color-overlay: rgba(10, 4, 3, 0.3);

  --font-family-main: 'Josefin Sans', sans-serif;
  --font-family-heading: 'Allura', cursive;

  --max-width: 120rem; /*1920px*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1,
h2,
h3,
p {
  padding-bottom: 2rem;
}

p {
  font-size: 18px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 3rem auto;
}

.center {
  text-align: center;
}

.py {
  padding: 2rem 0;
}

img {
  filter: contrast(1.1);
}

.container-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  width: 95%;
  margin: 2.5rem auto 4rem auto;
}

.container-filter h1 {
  text-transform: uppercase;
  color: var(--primary-color-dark);
  font-size: 2.6rem;
  text-align: center;
}

.container-filter h2 {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-dark);
  padding: 1rem 0;
  font-size: 2rem;
}

.container-filter h3 {
  color: var(--primary-color-dark);
  padding: 1rem 0;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.filters > div {
  background: linear-gradient(var(--primary-color-light), var(--primary-color));
  border: 1px solid var(--primary-color-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 100%;
  padding-left: 3rem;
  align-self: stretch;
}

.filters > div:first-child {
  margin-bottom: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  background: linear-gradient(var(--primary-color-light), var(--primary-color));
  border: 1px solid var(--primary-color-light);
  border-radius: 6px;
  color: var(--primary-color-dark);
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  align-self: center;
  text-transform: uppercase;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px 6px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  color: var(--primary-color-light);
}

.icon {
  margin: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-color-dark);
}

.icon svg {
  width: 2rem;
  height: 2rem;
}

.icons_wrapper {
  max-width: 18rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_trips,
.content_tips {
  text-align: justify;
  max-width: var(--max-width);
  margin: 4rem auto;
}

.description {
  width: 90%;
  margin: 0 auto;
}

.short_info_trips {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-color-dark);
}

.short_info_tips {
  text-align: center;
  margin-bottom: 3rem;
}

.short_info_trips p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.short_info_tips p {
  text-align: justify;
}

.section_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 4rem auto;
}
.section_content_first {
  margin-top: 5rem;
}

.section_content h2,
.section_content h3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.section_content h3 {
  font-size: 1.3rem;
  line-height: 3;
  margin-top: 0;
}

.section_content h2 {
  padding-bottom: 1rem;
}

.map_homepage_wrapper {
  margin-top: 2rem;
  margin-bottom: -1rem;
}

.link_to_page {
  font-family: var(--font-family-heading);
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--primary-color-dark);
}

.link_to_page:hover {
  color: var(--primary-color-light);
  cursor: pointer;
}

.link_to_homepage {
  cursor: pointer;
}

.container_gallery {
  margin: 2rem auto;
}

.know_more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 12rem;
  width: 100%;
  margin: 1rem auto;
  padding: 0.7rem 1.6rem;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  color: var(--primary-color-light);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.btn_back {
  display: inline-block;
  max-width: 15rem;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.7rem 1.6rem;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color-dark);
  border: 1px solid var(--primary-color-dark);
  color: var(--primary-color-light);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.know_more:hover,
.know_more:active,
.know_more:focus,
.btn_back:hover,
.btn_back:active,
.btn_back:focus {
  background-color: var(--primary-color-light);
  color: var(--primary-color-dark);
}

.map_homepage {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.map_homepage:hover {
  cursor: pointer;
  filter: grayscale(60%);
  /* filter: sepia(#8d6d54, 50%); */
}

.container_homepage h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.btns_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 550px) {
  .filters > div {
    width: 75%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container-filter {
    width: 80%;
    margin-bottom: 4rem;
  }

  .filters {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 2rem; */
  }

  .filters > div {
    width: 40%;
  }

  .filters > div:first-child {
    margin-bottom: 0;
  }

  .link_to_page {
    font-size: 2.5rem;
  }

  .map_homepage {
    width: 50%;
  }

  .description {
    width: 70%;
  }

  .short_info_tips {
    width: 85%;
  }

  .short_info_tips p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .container-filter {
    width: 60%;
  }

  .filters {
    justify-content: center;
  }

  .filters > div {
    width: 35%;
  }

  .description {
    width: 60%;
  }

  .short_info_tips {
    width: 85%;
  }

  .short_info_tips p {
    font-size: 1.3rem;
  }
}
