@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Pattaya&display=swap');

:root {
  --primary-color: #8d6d54;
  /* #9c7453; */
  --primary-color-light: #e4c9b5;
  /* #f1dcd7; */
  --primary-color-dark: #523722;
  --secondary-color: #bd5740;
  --dark-color: #0a0403;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1,
h2,
h3,
p {
  padding-bottom: 2rem;
}

p {
  font-size: 18px;
}

a {
  cursor: pointer;
}

.container {
  max-width: 75rem;
  margin: 3rem auto;
}

.center {
  text-align: center;
}

.container-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}

.container-filter h1 {
  text-transform: uppercase;
  color: var(--primary-color-dark);
  font-size: 2.6rem;
  text-align: center;
}

.container-filter h2 {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color-dark);
  padding: 1rem 0;
  font-size: 2rem;
}

.container-filter h3 {
  color: var(--primary-color);
  padding: 1rem 0;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  background-color: var(--primary-color-light);
  border: 1px solid var(--primary-color-dark);
  border-radius: 6px;
  color: var(--primary-color-dark);
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  align-self: center;
  text-transform: uppercase;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--primary-color-dark);
  border-color: var(--primary-color-dark);
  color: var(--primary-color-light);
}

main {
  border-top: 3px solid var(--dark-color);
}

.icon {
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 768px) {
  .container-filter {
    padding-top: 4rem;
    width: 80%;
  }

  .container-filter h1 {
    font-size: 3rem;
  }

  .filters {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .filters div {
    flex-basis: 20%;
  }
}
