.nav_wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav_wrapper {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 auto;
    max-width: var(--max-width);
    display: block;
    border-bottom: 3px solid var(--dark-color);
    background-color: white;
    z-index: 10;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    list-style-type: none;
    padding: 0;
    font-size: 2rem;
    font-family: var(--font-family-heading);
    font-weight: bolder;
  }

  .hamburger {
    display: none;
  }

  .closed {
    display: block;
  }

  .link {
    display: inline-block;
    padding: 1rem 0.5rem;
    transition: all 0.5s ease;
  }

  .link a {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color-dark);
    display: inline-block;
    padding: 1rem 0.5rem;
  }

  .link .closed a {
    display: inline-block;
  }

  .link a:hover,
  .link a:active {
    color: var(--primary-color-light);
    outline: 2px dotted var(--primary-color-light);
    /* font-size: 3rem; */
  }
}
